* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


// vegetables-section start
.vegetable-section {
  padding-bottom: 60px;

  .container {
    .row {
      .main-heading {
        padding: 0px 15px;

        h2 {
          width: fit-content;
          text-align: center;
          font-size: 100px;
          -webkit-text-fill-color: white;
          -webkit-text-stroke: 2px black;
          position: relative;
          cursor: pointer;
          font-family: emoji;
          margin: 30px 0px !important;

          &::before {
            position: absolute;
            content: attr(data-text);
            top: 0;
            left: 0px;
            -webkit-text-fill-color: greenyellow;
            width: 0;
            overflow: hidden;
            transition: 0.5s;
          }

          &:hover {
            &::before {
              width: 100%;
            }
          }
        }
      }

      .main-box {
        .box {
          width: 17%;
          padding: 15px;

          .content {
            height: 100%;

            .image {
              overflow: hidden;

              img {
                display: block;
                width: 100%;
                transition: all 0.5s;
              }
            }

            .detail {
              text-align: center;
              padding: 15px 0px;

              span {
                display: block;
                font-size: 20px;
                font-weight: 700;
                text-transform: capitalize;
                color: #333;
                padding-bottom: 8px;
              }

              p {
                font-weight: 700;
                line-height: 1.5;
                color: #666666;
              }
            }

            &:hover {
              .image {
                img {
                  transform: scale(1.1);
                }
              }
            }
          }
        }
      }
    }
  }
}

// vegetables-section end

@media (min-width: 1601px) {}

// media query start
@media (max-width: 1560px) {

  // vegetable-section start
  .vegetable-section {
    .container {
      .row {
        .main-box {
          .box {
            .content {
              padding: 0px;
            }
          }
        }
      }
    }
  }

  // vegetable-section end
}

@media (max-width: 1399px) {

  // vegetable-section start
  .vegetable-section {
    .container {
      .row {
        .main-box {
          .box {
            width: 20%;

            .content {
              padding: 0px;
            }
          }
        }
      }
    }
  }

  // vegetable-section end
}

@media (max-width: 1199px) {}

@media (max-width: 991px) {

  header {
    .container {
      .row {
        .main-box {
          .menu-btn {
            .menubar {
              top: 110px;
            }
          }
        }
      }
    }
  }

  // vegetable-section start
  .vegetable-section {
    .container {
      .row {
        .main-box {
          .box {
            width: 25%;

            .content {
              padding: 0px;
            }
          }
        }
      }
    }
  }

  // vegetable-section end
}

@media (max-width: 767px) {

  // vegetable-section start
  .vegetable-section {
    .container {
      .row {
        .main-box {
          .box {
            width: 33.33%;
          }
        }
      }
    }
  }

  // vegetable-section end
}

@media (max-width: 670px) {}

@media (max-width: 575px) {

  // vegetable-section start
  .vegetable-section {
    .container {
      .row {
        .main-heading {
          h2 {
            font-size: 70px;
          }
        }

        .main-box {
          .box {
            width: 50%;
          }
        }
      }
    }
  }

  // vegetable-section end
}


@media (max-width: 400px) {}

// media query end